/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
@media (max-width: 1400px) {
    .button {
        font-size: 1.7rem;
    }

    .nav--top {
        font-size: 1.7rem;
    }
}

/* lg <= Extra large (xl) */
@media (max-width: 1200px) {
    :root {
        --title-font-size: 2.6rem;
        --logo-height: 5em;
    }

    .button {
        font-size: 1.4rem;
    }

    .nav--top {
        font-size: 1.4rem;
    }

    .about__img {
        margin-left: 1em;
    }
}

/* md <= Large (lg) */
@media (max-width: 992px) {
    .burger-btn--header {
        display: block;
    }

    .nav--top {
        height: calc(100vh - var(--header-height));
        position: absolute;
        top: var(--header-height);
        right: 0;
        font-size: var(--text-font-size);
        background-color: var(--dark-gray);
        transform: translateX(100%);
        transition: transform var(--transition);
    }
    .nav--top.active {
        transform: translateX(0);
    }
    .nav--top ul {
        padding: 2em 1em;
        display: block;
    }
    .nav--top li + li {
        margin-top: 1em;
    }

    .about__title {
        text-align: center;
    }
    .about__buttons {
        margin: 0 auto;
        max-width: 600px;
        text-align: center;
    }
    .about__img {
        display: none;
    }

    .about-descr__item {
        text-align: initial !important;
    }
    .about-descr__img {
        height: 300px;
    }
    .about-descr__text {
        margin-top: 1em;
    }
    .about-descr__text-title {
        text-align: center;
    }

    .partners__item {
        padding: 1em;
    }
}

/* sm <= Medium (md) */
@media (max-width: 768px) {
    .catalog__row > * {
        margin-top: var(--bs-gutter-x);
    }
    .catalog__row > :first-child {
        margin-top: 0;
    }
    .catalog__row--height-small,
    .catalog__row--height-middle,
    .catalog__row--height-large {
        height: auto;
    }
    .catalog__item {
        height: 250px;
    }

    .partners__item-wrapper:nth-child(1n + 3) {
        margin-top: var(--bs-gutter-x);
    }
    .partners__item {
        height: 200px;
    }
}

/* xs <= Small (sm) */
@media (max-width: 576px) {
    :root {
        --radius: 2em;
    }

    .about__title {
        --title-font-size: 1.8rem;
    }

    .about-descr__item {
        padding: 0.5em;
        font-size: var(--text-font-size);
    }
    .about-descr__img {
        --radius: 2em 2em 0 0;
        margin: -0.5em -0.5em 0;
        height: 200px;
    }

    .catalog__item {
        padding: 1em;
        height: 200px;
    }

    .partners__title {
        padding: 0;
        font-size: calc(var(--title-font-size) / 1.1);
    }
}

/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width: 0) {
}

/* Small (sm) */
@media (min-width: 576px) {
}

/* Medium (md) */
@media (min-width: 768px) {
}

/* Large (lg) */
@media (min-width: 992px) {
}

/* Extra large (xl) */
@media (min-width: 1200px) {
}

/* Extra extra large (xxl) */
@media (min-width: 1400px) {
}
